*{
    padding:auto;
    margin: auto;
    text-align: center;
}
#heading{
    color: red;
    background-color: black;
}
button{
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#data{
    display: flex;
    flex-wrap: wrap;
    gap: 2 rem;
}
.stu{
    background-color: aliceblue;
    border-radius: 5%;
    padding:5px;
}