*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    text-align: center;
    background-color: black;
    color:white;
}
#form{
    width : 30rem;
    background-color: beige;
    margin:auto;
    margin-top: 2rem;
    padding: 10px;
    border-radius: 1rem;
}